<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    </head>
<body class="administracion-body">

    <header class="header-administracion">
        <a href="{{ url_for('panel.panel') }}" class="volver-link-administracion">&leftarrow; Volver</a>
        <h1>Administración</h1>
    </header>

    <main class="main-administracion-content">

        <div class="modulos-grid-administracion">
            
            <div class="modulo-card-administracion">
                <h2>Usuarios</h2>
                <p>Administrar usuarios</p>
                <a href="{{ url_for('usuarios.usuarios') }}" class="boton-acceder">Acceder</a>
            </div>
            
            <div class="modulo-card-administracion">
                <h2>Catálogo</h2>
                <p>Productos y categorías</p>
                <a href="{{ url_for('catalogo_productos.catalogo_productos') }}" class="boton-acceder">Acceder</a>
            </div>

            <div class="modulo-card-administracion">
                <h2>Reportes</h2>
                <p>Análisis</p>
                <a href="{{ url_for('reportes.reportes') }}" class="boton-acceder">Acceder</a>
            </div>

            <div class="modulo-card-administracion">
                <h2>Configuración</h2>
                <p>Ajustes del sistema</p>
                <a href="{{ url_for('configuracion_general.configuracion_general') }}" class="boton-acceder">Acceder</a>
            </div>

        </div>

        <section class="reportes-rapidos">
            <h2 class="titulo-rapido">Reportes Rápidos</h2>
            <p class="subtitulo-rapido">Genera reportes comunes con un clic</p>

            <div class="reportes-grid-rapido">
                
                <div class="reporte-card-rapido">
                    <span class="icono-descarga">↓</span>
                    <h3>Ventas Diarias</h3>
                    <p>Último día</p>
                </div>

                <div class="reporte-card-rapido">
                    <span class="icono-descarga">↓</span>
                    <h3>Inventario</h3>
                    <p>Stock actual</p>
                </div>

                <div class="reporte-card-rapido">
                    <span class="icono-descarga">↓</span>
                    <h3>Clientes</h3>
                    <p>Base completa.</p>
                </div>
            </div>
        </section>

    </main>

</body>
</html>