<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración del Sistema - General</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <link rel="stylesheet" href="configuracion.css"> 
</head>
<body>

        <header class="header-inventario">
        <div class="header-left">
            <a href="{{ url_for('administracion.administracion') }}" class="volver-link">← Volver a admin</a>
            <h1>Notificaciones</h1>
        </div>
        <a href="#"  class="boton-guardar">Guardar Cambios</a>
    </header>


        <nav class="nav-tabs">
            <a href="{{ url_for('configuracion_general.configuracion_general') }}" class="tab-item active">General</a>
            <a href="{{ url_for('configuracion_notificaciones.configuracion_notificaciones') }}" class="tab-item">Notificaciones</a>
            <a href="configuracion_seguridad.html" class="tab-item">Seguridad</a>
        </nav>

        <div class="tab-content">
            <h2>Información de la Tienda</h2>
            <p class="descripcion">Configuración básica de tu tienda online</p>

            <form class="form-grid">
                
                <div class="form-group form-group-left">
                    <label for="nombreTienda">Nombre de la Tienda</label>
                    <input type="text" id="nombreTienda" class="form-input" placeholder="Mi Tienda Online">
                </div>
                <div class="form-group form-group-right">
                    <label for="emailContacto">Email de Contacto</label>
                    <input type="email" id="emailContacto" class="form-input" placeholder="contacto@mitienda.com">
                </div>
                
                <div class="form-group form-group-left">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" class="form-input" placeholder="+54 9 11 XXXX-XXXX">
                </div>
                <div class="form-group form-group-right">
                    <label for="direccion">Dirección</label>
                    <input type="text" id="direccion" class="form-input" placeholder="Calle Falsa 123">
                </div>

                <div class="form-group form-group-full">
                    <label for="descripcionTienda">Descripción de la Tienda</label>
                    <textarea id="descripcionTienda" class="form-input form-textarea" placeholder="Breve descripción de lo que vendes..."></textarea>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>